<div class="page">
    <header>
        {{> back-button}}
    </header>

    <form action="#">
        <h1 class="page__title"> User list </h1>

        <div class="divider" style="border: 1px solid grey"></div>

        <span class="alert alert--success"> asd </span>

        <div class="page__section" id="user-list">
            
        </div>
    </form>
</div>