<div class="page">
    <header>
        {{> back-button}}
    </header>

    <form action="#">
        <h1 class="page__title"> Login </h1>

        <div class="form">
            <div class="form__item">
                {{> field action="signupForm.change" label="Email" type="email" name="email" placeholder="example@mail.com"}}
                <span name="email" class="field__error"> Error </span>
            </div>

            <div class="form__item">
                {{> field-password action="signupForm.change" label="Password" type="password" name="password" placeholder="Enter your password"}}
                <span name="password" class="field__error"> Error </span>
            </div>
        </div>

        <button onclick="signupForm.submit()" class="button button--disabled" type="button"> Register </button>

        <span class="alert alert--error alert--disabled"> Attention, error ! </span>
        
        <span class="link__prefix"> Forgot the password ? <a href="/recovery" class="link"> recovery </a></span>
    </form>
</div>