<div class="page">
    <header>
        {{> back-button}}
    </header>

    <div class="wrapper">
        <form action="#">
            <h1 class="page__title"> Password recovery </h1>

            <div class="form">
                <div class="form__item">
                    {{> field action="recoveryConfirmForm.change" label="Code" type="number" name="code" placeholder="Your code"}}
                    <span name="email" class="field__error"> Error </span>
                </div>

                <div class="form__item">
                    {{> field-password action="recoveryConfirmForm.change" label="Password" type="password" name="password" placeholder="Enter your password"}}
                    <span name="password" class="field__error"> Error </span>
                </div>

                <div class="form__item">
                    {{> field-password action="recoveryConfirmForm.change" label="Repeat password" type="password" name="passwordAgain" placeholder="Enter your password"}}
                    <span name="passwordAgain" class="field__error "> Error </span>
                </div>
            </div>

            <button onclick="recoveryConfirmForm.submit()" class="button button--disabled" type="button"> Register </button>

            <span class="alert alert--error alert--disabled"> Attention, error ! </span>
        </form>
    </div>
</div>